<h1>New game</h1>


<% @letters.each do |letter| %>
  <ul class="list-letters">
    <li><%= letter %></li>
  </ul>
<% end %>


<form action="/score" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" value="<%= params[:word] %>">
  <input type="hidden" name="letters" id="" value="<%= @letters %>">
  <input type="submit" value="Play">
</form>
